.explorecard {
  background-color: #f8fafb;
  border: 1px solid darkgray;
}

.borderprint {
  padding: 10px;
}

.custom-col {
  margin-left: 20%;
}

.transparent-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 5;
  right: 5;
}
