.temp {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
}

.liked-icon {
  color: red;
}

.wd-movedown {
  margin-top: 3px;
}

.wd-colorblack {
  color: black;
}

.wd-extrawidth {
  margin-top: 5px;
}

.liked {
  color: red;
}

.not-liked {
  color: black;
}
